.quick-action{

margin-top:35px;

}

.section-title{

margin-bottom:18px;

}

.section-title h2{

font-size:24px;
color:#14532D;

}

.section-title p{

color:#64748B;

margin-top:5px;

}

.quick-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}

.quick-card{

background:white;

border-radius:22px;

padding:30px;

cursor:pointer;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.05);

}

.quick-card:hover{

box-shadow:0 18px 35px rgba(0,0,0,.08);

}

.quick-icon{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

border-radius:18px;

margin-bottom:20px;

}

.quick-card h3{

font-size:20px;

margin-bottom:8px;

color:#14532D;

}

.quick-card p{

color:#64748B;

line-height:1.6;

}