*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

.register-page{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
overflow:hidden;
position:relative;
background:linear-gradient(135deg,#e9fff0,#ffffff,#f5fff9);
}

.blob{
position:absolute;
border-radius:50%;
filter:blur(90px);
opacity:.5;
animation:float 8s infinite alternate;
}

.blob1{
width:350px;
height:350px;
background:#67d88b;
left:-100px;
top:-80px;
}

.blob2{
width:280px;
height:280px;
background:#8cf7b4;
right:-60px;
bottom:-60px;
}

@keyframes float{

100%{
transform:translateY(40px) translateX(20px);
}

}

.register-card{

width:430px;
background:rgba(255,255,255,.75);
backdrop-filter:blur(18px);
padding:40px;
border-radius:25px;
box-shadow:0 25px 60px rgba(0,0,0,.08);
z-index:2;
text-align:center;

}

.logo{

width:90px;
margin:auto;
display:block;
margin-bottom:20px;

}

.register-card h1{

font-size:34px;
color:#24a148;

}

.register-card p{

color:#666;
margin:15px 0 30px;

}

.input-box{

display:flex;
align-items:center;
gap:10px;
background:white;
padding:15px;
margin-bottom:18px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.05);

}

.input-box input{

border:none;
outline:none;
width:100%;
font-size:15px;
background:transparent;

}

.input-box button{

background:none;
border:none;
cursor:pointer;

}

.strength{

text-align:left;
font-size:13px;
margin-bottom:25px;

}

.strength span{

display:flex;
align-items:center;
gap:8px;
color:#888;
margin:6px 0;

}

.strength .ok{

color:#24a148;
font-weight:600;

}

.register-btn{

width:100%;
padding:16px;
border:none;
border-radius:15px;
font-size:16px;
background:linear-gradient(135deg,#26d367,#1aa651);
color:white;
display:flex;
justify-content:center;
align-items:center;
gap:8px;
cursor:pointer;
transition:.35s;

}

.register-btn:hover{

transform:translateY(-4px);
box-shadow:0 15px 30px rgba(0,170,90,.35);

}

.bottom{

margin-top:25px;
color:#666;

}

.bottom a{

margin-left:8px;
text-decoration:none;
color:#24a148;
font-weight:bold;

}

@media(max-width:500px){

.register-card{

width:100%;
padding:30px 25px;

}

}